@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');
html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #181818;
    
    
}

img, video {
    
    height: auto;
    aspect-ratio: 16/9; 
}





.ad-container, .iframe-container {
    min-height: 250px; 
}


.lazy-load {
    min-height: 300px; 
}


